.titulo-1 {
  font-size: 3.3rem;
  font-family: "miss-antonia";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-2 {
  font-size: 1.65rem;
  font-family: "miss-antonia";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HALLOWEEN */
.contenedorf {
  background-image: url("../assets//img/Index/navidad_dunder.jpg");
  height: 700px;
}
@media (max-width: 700px) {
  .contenedorf {
    height: 600px;
  }
}

.banerf {
  width: 100%;
  margin: 2rem 0rem 0rem 0rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/Index/navbaner.jpg");
  box-sizing: border-box;
  background-size: 100% 100%;
  background-color: #fff;
}

.banerf__titulo {
  color: rgb(255, 38, 0);
  font-size: 4rem;
  font-family: "kaushan", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  animation: titf 5s infinite;
}
@keyframes titf {
  0% {
    color: rgb(255, 0, 0);
  }
  13% {
    color: rgb(221, 54, 12);
  }
  25% {
    color: rgb(255, 136, 0);
  }
  38% {
    color: rgb(19, 85, 11);
  }
  50% {
    color: rgb(13, 77, 6);
  }
  68% {
    color: rgb(19, 85, 11);
  }
  80% {
    color: rgb(255, 136, 0);
  }
  100% {
    color: rgb(221, 54, 12);
  }
}

.contenedorf__texto {
  position: absolute;
  color: rgb(8, 53, 3);
  top: 10%;
  left: 25%;
  font-family: miss-antonia;
  font-size: xx-large;
  font-weight: bold;
}

.botonf {
  position: absolute;
  top: 15%;
  left: 44%;
  padding: 10px 20px;
  font-family: miss-antonia;
  font-size: xx-large;
  color: rgb(10, 66, 3);
  font-weight: bold;
  text-decoration: none;
  animation: botonf 2s infinite;
}
@keyframes botonf {
  0% {
    color: rgb(255, 0, 0);
  }
  13% {
    color: rgb(221, 54, 12);
  }
  25% {
    color: rgb(255, 136, 0);
  }
  38% {
    color: rgb(19, 85, 11);
  }
  50% {
    color: rgb(13, 77, 6);
  }
  68% {
    color: rgb(19, 85, 11);
  }
  80% {
    color: rgb(255, 136, 0);
  }
  100% {
    color: rgb(221, 54, 12);
  }
}
@media (max-width: 960px) {
  .botonf {
    top: 24%;
    left: 45%;
  }
}
@media (max-width: 518px) {
  .botonf {
    top: 31%;
    left: 35%;
  }
}

.halloweenrecsoc {
  display: none;
}

.mesnavi {
  font-size: 2rem;
  margin-top: 2rem;
  color: green;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.secnavidad {
  margin-bottom: 2rem;
}
.secnavidad .fotnavidad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  margin-right: 1%;
}
.secnavidad .navifest {
  max-width: 98%;
  width: 80rem;
  height: 20rem;
  margin-left: 1%;
}
@media (max-width: 1199px) {
  .secnavidad {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .secnavidad .slider {
    aspect-ratio: 10/50;
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin: 0;
    padding: 0;
    height: 350px;
  }
  .secnavidad .navislide {
    width: 500px;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 15px;
  }
}
@media (max-width: 576px) {
  .secnavidad {
    overflow-x: hidden;
  }
}

.sechallrs {
  display: none;
}

@font-face {
  font-family: miss-antonia;
  src: url(../font/miss_antonia/Miss\ Antonia.otf);
}
@font-face {
  font-family: kaushan;
  src: url(../font/kaushan/KaushanScript-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
}

.bodyi {
  min-height: 100vh;
  margin: 0;
  padding: 0%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
@media (max-width: 993px) {
  .bodyi {
    overflow-x: hidden;
  }
}

#top {
  background-color: black;
  margin: 0;
  padding: 0;
}
#top .navbar {
  width: 100%;
  background-color: black;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
#top .navbar .divnav {
  padding: 0%;
  margin: 0%;
  background-color: black;
}
#top .navbar .divnav .navbar-brand {
  width: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
#top .navbar .divnav .nav-item {
  color: #fff;
  font-size: 1.4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "miss-antonia";
}
#top .navbar .divnav .nav-item .navbar-nav {
  width: 100%;
  align-items: center;
  justify-content: end;
}
#top .navbar .divnav .nav-item .navbar-nav .nav-item2 {
  color: #fff;
  font-size: 1.4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: right;
  font-family: "miss-antonia";
}
#top .navbar .divnav .nav-item .navbar-nav .nav-item2 .nav-link {
  color: white;
  margin-right: 20px;
  transition: 0.5s;
}
#top .navbar .divnav .nav-item .navbar-nav .nav-item2 .nav-link:hover {
  background-image: linear-gradient(90deg, rgb(49, 41, 199) 0%, rgb(11, 93, 148) 64%, rgb(0, 212, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
@media (max-width: 576px) {
  #top {
    width: 100%;
    overflow-x: hidden;
  }
}

.divimgw {
  width: 100%;
}
.divimgw .divimgw__imgfondoresponsive {
  display: none;
}
@media (max-width: 993px) {
  .divimgw .divimgw__imgfondoresponsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 0.5rem;
  }
}
.divimgw .divimgw__imgfondo {
  display: block;
  width: 100%;
  height: 33rem;
  padding: 0%;
  margin-bottom: 0.5rem;
  position: relative;
}
@media (max-width: 993px) {
  .divimgw .divimgw__imgfondo {
    display: none;
    overflow-x: hidden;
  }
}
@keyframes girardund {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(22deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-22deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.divimgw .dunderley .dunderley__simbolo {
  width: 450px;
  height: 250px;
  position: absolute;
  top: 12%;
  left: 8%;
  animation: girardund 4s linear infinite;
}
@media (max-width: 993px) {
  .divimgw .dunderley .dunderley__simbolo {
    display: none;
    overflow-x: hidden;
  }
}
.divimgw .dunderley .dunderley__leyendalogo {
  font-size: "2rem";
  font-family: "miss-antonia";
  color: #000000;
  position: absolute;
  top: 45%;
  left: 2%;
  font-weight: bold;
}
@media (max-width: 993px) {
  .divimgw .dunderley .dunderley__leyendalogo {
    display: none;
    overflow-x: hidden;
  }
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
@media (max-width: 993px) {
  .galeria {
    overflow-x: hidden;
  }
}
.galeria .galeria__foto {
  width: 19.8%;
  height: auto;
  margin: 0 0.1% 0.5rem 0.1%;
  object-fit: cover;
  box-sizing: border-box;
  margin-top: 0;
}

.contenedorf {
  position: relative;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 100% 100%;
  height: 600px;
}
@media (max-width: 993px) {
  .contenedorf {
    overflow-x: hidden;
  }
}

.footer {
  list-style-type: none;
  width: 100%;
  font-family: "miss-antonia";
  padding: 0px 0px;
  background-color: black;
}
.footer .containerf {
  min-width: 100%;
}
.footer .containerf .footer-row .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .containerf .footer-row .footer-links .footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer .containerf .footer-row .footer-links .footer-ul .footer-li {
  flex: 1;
  margin: 0 10px;
}
.footer .containerf .footer-row .fotnav {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.footer .containerf .footer-row .fotnav:hover {
  background-image: linear-gradient(90deg, rgb(49, 41, 199) 0%, rgb(11, 93, 148) 64%, rgb(0, 212, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
@media (max-width: 993px) {
  .footer {
    overflow-x: hidden;
  }
}

@media (max-width: 993px) {
  .veniaofici {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

.oficina {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 32rem;
}
.oficina .foto__oficina {
  width: 50%;
}
@media (max-width: 993px) {
  .oficina .foto__oficina {
    width: 100%;
    flex-direction: column;
    height: 32rem;
  }
}
@media (max-width: 993px) {
  .oficina {
    flex-direction: column;
    height: auto;
  }
}
.oficina .mapa__oficina {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  height: 100%;
  margin: 0;
}
@media (max-width: 993px) {
  .oficina .mapa__oficina {
    flex-direction: column;
    height: 32rem;
  }
}

.formulario {
  height: 38rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/contacto/papiro.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
@media (max-width: 600px) {
  .formulario {
    background-size: contain;
  }
}
@media (max-width: 533px) {
  .formulario {
    background-image: url(../assets/img/contacto/form_sm.png);
  }
}
.formulario .formulario__titulo {
  display: flex;
  font-size: "1.7rem";
  font-family: "miss-antonia";
  justify-content: center;
}
@media (max-width: 993px) {
  .formulario .formulario__titulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .formulario .formulario__titulo {
    color: #ffffff;
  }
}

.contactoform {
  font-family: "miss-antonia";
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  border-radius: 1rem;
  display: block;
  margin-bottom: 2rem;
}
@media (max-width: 993px) {
  .contactoform {
    max-width: 20rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0;
    position: static;
  }
}
@media (max-width: 600px) {
  .contactoform {
    background-size: contain;
  }
}
.contactoform .formcontainer {
  width: 100%;
  border-radius: 1rem;
  background-image: url(../assets/img/);
  background-size: cover;
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
@media (max-width: 993px) {
  .contactoform .formcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .contactoform .formcontainer .formcontainer {
    background-size: contain;
  }
}
@media (max-width: 450px) {
  .contactoform .formcontainer {
    padding-bottom: 5rem;
  }
}
@media (max-width: 320px) {
  .contactoform .formcontainer {
    padding-bottom: 5.4rem;
  }
}
.contactoform .formcontainer .formcontainer__forminput {
  font-size: 1rem;
  outline: none;
  border: #000000;
  margin: 1px;
}
.contactoform .formcontainer .formcontainer__formsend:hover {
  background-image: linear-gradient(90deg, rgb(15, 179, 0) 0%, rgb(86, 175, 78) 64%, rgb(108, 143, 110) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
.contactoform .formcontainer .formcontainer__formcancel:hover {
  background-image: linear-gradient(90deg, rgb(255, 30, 0) 0%, rgb(247, 113, 113) 64%, rgb(255, 189, 189) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}

.input {
  margin: 5px;
}

.bodyp {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.rowpr {
  font-family: "$primary-font";
  font-size: 1.3rem;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 1210px) {
  .rowpr {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 375) {
  .rowpr {
    max-width: 100%;
  }
}
.rowpr .ptext {
  font-family: "miss-antonia";
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
.rowpr .boton-compra {
  background: rgb(2, 0, 36);
  background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 77, 121) 24%, rgb(0, 212, 255) 100%);
  background-size: 120%;
  background-position: left;
  transition: background-position 0.5s ease;
  color: #fff;
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: "$primary-font";
}
.rowpr .boton-compra:hover {
  background-position: right;
  transform: scale(2);
}
.rowpr .imgp {
  max-width: 100%;
}
@media (max-width: 1210px) {
  .rowpr .imgp {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
    width: 100%;
    object-fit: scale-down;
  }
}
@media (max-width: 440px) {
  .rowpr .imgp {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0%;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0;
    object-fit: scale-down;
  }
}

.sobrenosotros__p {
  font-family: sans-serif;
  margin-left: 10%;
  width: 80%;
}

.dunderstaff {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.snmv__mision {
  width: 80%;
  margin-left: 10%;
  font-family: sans-serif;
}

.snmv__vision {
  width: 80%;
  margin-left: 10%;
  font-family: sans-serif;
}

.bodyrs {
  overflow-x: hidden;
  box-sizing: content-box;
}
@media (max-width: 993px) {
  .bodyrs {
    overflow-x: hidden;
  }
}
@media (max-width: 576px) {
  .bodyrs {
    overflow-x: hidden;
  }
}

.precsoc {
  font-family: "miss-antonia";
  width: 85%;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.5;
}

.sectionsoc1 {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.sectionsoc1 .rowrs {
  display: flex;
  flex-flow: row;
  width: 100%;
}
.sectionsoc1 .rowrs .divercontainer {
  display: flex;
  width: 100%;
}
.sectionsoc1 .rowrs .divercontainer__diversidad {
  width: 50%;
  height: 28rem;
  padding: 0;
  margin: 1rem;
  justify-content: flex-start;
}
.sectionsoc1 .rowrs .divercontainer__headsup {
  width: 50%;
  height: 28rem;
  padding: 0;
  margin: 1rem;
  justify-content: flex-end;
}
@media (max-width: 1210px) {
  .sectionsoc1 .rowrs .rowrs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .sectionsoc1 .rowrs .divercontainer {
    display: flex;
    min-width: 100%;
    flex-direction: column;
  }
  .sectionsoc1 .rowrs .divercontainer__diversidad,
  .sectionsoc1 .rowrs .divercontainer__headsup {
    width: 100%;
    height: 24rem;
    padding: 0;
    margin: 0.5rem;
  }
}
@media (max-width: 576px) {
  .sectionsoc1 {
    overflow-x: hidden;
  }
}

.dundies {
  position: static;
}
.dundies .dundies__premiacion {
  width: 80%;
  font-family: "miss-antonia";
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.secdund {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}
.secdund .dundiesbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}
.secdund .dundiesbar .dundiesbar__foto {
  width: 32%;
  box-sizing: border-box;
  margin: 0.5%;
  padding: 0;
  height: 10rem;
}
.secdund .dundiesbar .dundiesbar__foto img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
@media (max-width: 1210px) {
  .secdund .dundiesbar {
    justify-content: center;
    align-items: center;
  }
  .secdund .dund {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .secdund {
    overflow-x: hidden;
  }
}

.dundiespresentacion {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}
.dundiespresentacion .dundiespresentacion_anfitriones {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-right: 1%;
  max-width: 100%;
  height: 500px;
}
@media (max-width: 1210px) {
  .dundiespresentacion .dundiespresentacion_anfitriones {
    position: relative;
    bottom: auto;
    height: 400px;
  }
}
@media (max-width: 400px) {
  .dundiespresentacion .dundiespresentacion_anfitriones {
    position: relative;
    bottom: auto;
    height: 200px;
  }
}
.dundiespresentacion .ganadores {
  margin-top: 2rem;
}
.dundiespresentacion .listaganadores {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  font-size: 1.3rem;
  font-family: "miss-antonia";
  line-height: 2;
}
@media (max-width: 1210px) {
  .dundiespresentacion .listaganadores {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .dundiespresentacion {
    overflow-x: hidden;
  }
}

@media (max-width: 1210px) {
  .contdundies {
    flex-direction: column;
  }
}
.burga {
  color: #fff;
  width: 70px;
  height: 40px;
}

.footerlogo {
  background-image: url(../assets/img/Dunder-Mifflin-Symbol.png);
  position: absolute;
}

.productoult {
  margin-bottom: 4rem;
}

@media (max-width: 1210px) {
  .footerwidth {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.mainproductos {
  margin: 0;
  padding: 0;
  object-fit: scale-down;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
