@font-face {
    font-family: miss-antonia;
    src: url(../font/miss_antonia/Miss\ Antonia.otf);
  
}
.bodyi{
  min-height: 100vh;
  margin: 0;
  background-color: rgb(172, 177, 180);
}
h1{
    font-family: miss-antonia;
    font-size: xx-large;
    text-align: center;
}
h2{
    font-family: miss-antonia;}

#top{
    background-color: black;
    width: 100%;
    height: auto;}

#dunderlogotop{
    width: 200px;
    height: 100px;  
    padding: 0;
    margin: 0;
    top: 10px;
    left: 10px;  
}
nav ul{
    font-size:x-large;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: miss-antonia;
}
.navv{
  color: #fff;
}
.navv:hover{
  color: rgb(130, 118, 165);
}
nav li{
    text-align: center;
    font-family: miss-antonia

}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
}
.divimgw{
  margin: 0;
}
.img-wide{
    width: 100%;
    height: 33rem;
    padding: 0%;
    margin: 0;
         
}
.dunderred{
    width: 450px;
    height: 250px;
    position: absolute;
    top: 18%;
    left: 3%;
}
.leyendalogo{
    font-size: xx-large;
    font-family: miss-antonia;
    position: absolute;
    top: 43%;
    left: 2%;
    font-weight: bold;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.galeria img {
  width: 20%; 
  height: auto;
  margin-bottom: 0%;
  object-fit: cover;
  box-sizing: border-box; 
  margin-top: 0;
}

.hallow{
    font-size: x-large;
    font-family: miss-antonia;
    text-align-last: center;
}
.copntenedor{
    position: relative;
}
.textosuperpuesto{
    position: absolute;
    top: 150%;
    left: 42%;
    font-family: miss-antonia;
    font-size: xx-large;
    font-weight: bold;
}
.botonhal{
    position: absolute;
    top: 158%;
    left: 57%;
    padding: 10px 20px;
    font-family: miss-antonia;
    font-size: xx-large;
    color: rgb(255, 136, 0);
    font-weight: bold;
}
.botonhal:hover{
color: rgb(189, 102, 4);
}
.halloweendeco{
    width: 100%;
    height: 600px;
}
.veniaofici{
  text-align: center
}
.oficina {
  display: flex;
  flex-direction: row;
}

.map-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .oficina {
      flex-direction: column;
  }
}


.oficina img {
  width: 50%;
  height: auto;
  padding: 0;
}

.map-container {
  width: 100%;
  height: auto;
  padding-top: 0px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}
.producto img {
    max-width: 100%;
    height: 500px
  }
  .row{
    font-family: miss-antonia;
    font-size: large;
    margin-bottom: 5px;
  }
  .producto p {
    font-size: 25px;
    font-family: miss-antonia;
}
  .boton-compra {
    background-color: #0077B5;
    color: #fff;
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: miss-antonia;
  }

  .boton-compra:hover {
    background-color: #005EA3;
  }
  .titrecsoc{
    font-family: miss-antonia;
    font-size: xx-large;
    text-align: center;
  }
  .sectionsoc1 {
    display: flex;
    width: 100%;
  }
  
  .sectionsoc1 {
    display: flex;
    width: 100%;
    justify-content: space-between; 
  }
  
  .sectionsoc1 .row {
    width: 100%;
  }
  
  .diversi-container,
  .headsup {
    width: 100%;
    height: auto;
  }
  .sectionsoc1 .diversi-container {
    width: 100%;
    height: 100%;
  }
  
  .sectionsoc1 iframe.diversity {
    width: 100%;
    height: 100%;
  }
  
  .sectionsoc1 img.headsup {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dundiesfot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px; 
    width: 100%;
}

.dundiesfot img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1199px) {
    .dundiesfot {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para tamaños de pantalla medianos */
    }
}

@media (max-width: 576px) {
    .dundiesfot {
        grid-template-columns: repeat(1, 1fr); /* Una columna para tamaños de pantalla pequeños */
    }
}

  .secdund{
    max-width: 100%;
  }
  .contdundies {
    display: flex;
    align-items: flex-start;
  }
  
  @media (max-width: 1199px) {
    .contdundies {
      flex-direction: column;
    }
  }
  .listad{
    flex: 1;
    width: 50%;
    padding: 0; 
    font-size: xx-large;
    font-family: miss-antonia;
    line-height: 1.5;
  }
  .ifdund {
    width: 1000px; 
    height: 800px; 
  }
.tit2hal{
    font-size: xx-large;
    text-align: center
}

.fothalemp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
  }
  .fothalemp img {
    max-width: 100%;
    width: 1900px;
    height:500px;
  }
  @media (max-width: 1199px) {
    .fothalemp {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .fothalemp {
        grid-template-columns: repeat(1, 1fr);
    }
}
.footer{
    list-style-type: none;
    font-family: miss-antonia;
    padding: 0px 0px;
    background-color: black;
  }
.containerf{
  min-width: 100%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Espacios simétricos entre elementos */
  width: 100%; 
}

.footer-links li {
  flex: 1; 
  margin: 0 10px; 
}

.footer-links a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 100%; 
}
.fotnav{
  color: #fff;
}
.fotnav:hover{
  color: rgb(130, 118, 165);
}
.snp{
  font-family: sans-serif
}
.dunderstaff{
width: 100%;
}
.mision{
font-family: sans-serif;
}
.vision{
  font-family: sans-serif;
}
.formtitle{
  text-align: center
}
.form {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1rem;
  display: block;
  margin: 0 auto; /* Centrar el elemento horizontalmente */
}
.formcontainer{
  width: 100%;
  display: grid;
  grid-auto-columns: 100%;
  text-align: left;
}
.forminput{
  font-size: 1rem;
  outline: none;
  border: none;
}
.h1sobrenosotros{
  font-family: miss-antonia;
}
