@import "./partials/variables";
@import "./partials/bucles";
@import "./partials/mixins";
@import "./partials/_condicionales.scss";

@font-face {
    font-family: miss-antonia;
    src: url(../font/miss_antonia/Miss\ Antonia.otf);
}
@font-face {
    font-family: kaushan;
    src: url(../font/kaushan/KaushanScript-Regular.otf);
}
*{
    padding: 0;
    margin: 0;
}
.bodyi {
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    @media (max-width: 993px) {
        overflow-x: hidden;
    }
}
    #top {
        background-color: black;
        margin: 0;
        padding: 0;
    
        .navbar {
            width: 100%;
            background-color: black;
            padding: 0;
            display: flex;
            justify-content: flex-end;
    
            .divnav {
                padding: 0%;
                margin: 0%;
                background-color: black;
    
                .navbar-brand {
                    width: 150px;
                   @include flex(flex, row, nowrap, flex-start, center);
                    margin: 0;
                    padding: 0;
                }
                .nav-item {
                    color: #fff;
                    font-size: 1.4rem;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-family: $primary-font;
                    
                    .navbar-nav {
                        width: 100%;
                        align-items: center;
                        justify-content: end;
                        .nav-item2 {
                            color: #fff;
                            font-size: 1.4rem;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            @include flex (flex, row, nowrap, flex-end, right);
                            font-family: $primary-font;
                            .nav-link {
                                color: white;
                                margin-right: 20px;
                                transition: 0.5s;
                                
                                &:hover {
                                    background-image: linear-gradient(90deg, rgb(49, 41, 199) 0%, rgb(11, 93, 148) 64%, rgba(0, 212, 255, 1) 100%);
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    color: transparent;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            width: 100%;
            overflow-x: hidden;
        }
    }
    
    .divimgw {
        width: 100%;
        .divimgw__imgfondoresponsive{
            display: none;

            @media (max-width: 993px) {
                display: block;
                width: 100%;
                overflow-x: hidden;
                margin-bottom: 0.5rem;
            }
        }
        
        .divimgw__imgfondo {
            display: block;
            width: 100%;
            height: 33rem;
            padding: 0%;
            margin-bottom: 0.5rem;
            position: relative;
            @media (max-width: 993px) {
                display: none;
                overflow-x: hidden;
            }
        }

@keyframes girardund {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-22deg);
    }
    100% {
        transform: rotate(0deg);
    }
}   
        .dunderley {
            .dunderley__simbolo {
                width: 450px;
                height: 250px;
                position: absolute;
                top: 12%;
                left: 8%;
                animation: girardund 4s linear infinite;
                @media (max-width: 993px) {
                    display: none;
                    overflow-x: hidden;
                }
            }
    
            .dunderley__leyendalogo {
                font-size: $h1size;
                font-family: $primary-font;
                color: #000000;
                position: absolute;
                top: 45%;
                left: 2%;
                font-weight: bold;
                @media (max-width: 993px) {
                    display: none;
                    overflow-x: hidden;
                }
            }
        }
    }
.galeria{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    @media (max-width: 993px) {
        overflow-x: hidden;
    }
    .galeria__foto{width: 19.8%; 
    height: auto;
    margin: 0 0.1% 0.5rem 0.1%;
    object-fit: cover;
    box-sizing: border-box; 
    margin-top: 0;
    }
}

.contenedorf {
    position:relative;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100% 100%;
    height:600px;
    @media (max-width: 993px) {
        overflow-x: hidden;
    }
}

.footer{
    list-style-type: none;
    width: 100%;
    font-family: $primary-font;
    padding: 0px 0px;
    background-color: black;
    .containerf{
        min-width: 100%;
        .footer-row{
            .footer-links{
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                width: 100%; 
                .footer-ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%; 
                    .footer-li{
                        flex: 1; 
                        margin: 0 10px; 
                      }
                    }
            }
                .fotnav{
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px;
                    width: 100%; 
                }
                .fotnav:hover{
                        background-image: linear-gradient(90deg, rgb(49, 41, 199) 0%, rgb(11, 93, 148) 64%, rgba(0, 212, 255, 1) 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        transform: scale(1.1);
                }
                        
        }
    }
    @media (max-width: 993px) {
        overflow-x: hidden;
    }
}

.veniaofici{
    @media (max-width: 993px) {
        width: auto;
        @include flex (flex, row, nowrap, center, center);
    }
}
.oficina {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 32rem;
    .foto__oficina{
        width: 50%;
        @media (max-width: 993px) {
            width: 100%;
            flex-direction: column;
            height: 32rem; 
        }
    }
    @media (max-width: 993px) {
        flex-direction: column;
        height: auto;
    }
    .mapa__oficina {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        height: 100%;
        margin: 0;
        @media (max-width: 993px) {
            flex-direction: column;
            height: 32rem;
        }
    }
}
.formulario{
    height: 38rem;
    @include flex (flex, column, nowrap, center, center);
    background-image: url(../assets/img/contacto/papiro.png);
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: center center;
    @media (max-width: 600px) {
        background-size: contain ;
    }
    @media (max-width: 533px) {
        background-image: url(../assets/img/contacto/form_sm.png);
    }

    .formulario__titulo{
        display: flex;
        font-size: $h2size;
        font-family: $primary-font;
        justify-content: center;
        @media (max-width: 993px) {
            @include flex (flex, row, nowrap, center, center);
            margin: 0%;
            padding: 0;
        }
        @media (max-width: 320px) {
            color: #ffffff;
        }
    }
}
.contactoform {
    font-family: $primary-font;
    @include flex (flex, column, nowrap, center, center);
    width: 100%;
    max-width: 20rem;
    border-radius: 1rem;
    display: block;
    margin-bottom: 2rem; 
    @media (max-width: 993px) {
        max-width: 20rem;
        @include flex (flex, row, nowrap, center, center);
        margin: 0 auto;
        margin-bottom: 1rem;
        padding: 0;
        position: static;
    }
    @media (max-width: 600px) {
        background-size: contain ;
    }

        .formcontainer {
            width: 100%;
            border-radius: 1rem;
            background-image: url(../assets/img/);
            background-size: cover;
            padding: 0;
            margin: 0%;
            box-sizing: border-box; 
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            @media (max-width: 993px) {
                @include flex (flex, column, nowrap, center, center);
                margin: 0%;
                padding: 0;
            }
            @media (max-width: 600px) {
                .formcontainer {
                    background-size: contain;
                }
            }
            @media (max-width: 450px) {
                padding-bottom: 5rem;
            }   
            @media (max-width: 320px) {
                padding-bottom: 5.4rem;
            }   
            
            .formcontainer__forminput {
                font-size: 1rem;
                outline: none;
                border: #000000;
                margin: 1px;
            }
            .formcontainer__formsend{
                &:hover {
                    background-image: linear-gradient(90deg, rgb(15, 179, 0) 0%, rgb(86, 175, 78) 64%, rgb(108, 143, 110) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    transform: scale(1.1);
                }
            }
            .formcontainer__formcancel{
                &:hover {
                    background-image: linear-gradient(90deg, rgb(255, 30, 0) 0%, rgb(247, 113, 113) 64%, rgb(255, 189, 189) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    transform: scale(1.1);
                }
            }
        }

    } 
.input{
    margin: 5px;
}

.bodyp {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.rowpr{
    font-family: '$primary-font';
    font-size: 1.3rem;
    margin-bottom: 100px;
    @include flex (flex, row, wrap, center, center);
    width: 100%;
    max-width: 100%;

    @media (max-width: 1210px) {
        @include flex (flex, column, nowrap, center, center);
        overflow-x: hidden;
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    @media (max-width: 375) {
        max-width: 100%;
        
    }
    .ptext{
        font-family: $primary-font;
        @include flex (flex, row, nowrap, space-around, center);
        margin-bottom: 5px;
    }

    .boton-compra {
        background: rgb(2,0,36);
        background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 24%, rgba(0,212,255,1) 100%);
        background-size: 120%;
        background-position: left;
        transition: background-position 0.5s ease;
        
        &:hover{
            background-position: right;
            transform: scale(2)
        }

        
        color: #fff;
        padding: 7px 13px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-family: '$primary-font';

    }
    
    .imgp{
        max-width: 100%;
        @media (max-width: 1210px) {
            @include flex (flex, column, nowrap, center, center);
            margin: 1rem 0 1rem 0;
            padding: 0;
            width: 100%;
            object-fit: scale-down;
        }
        @media (max-width: 440px) {
            max-width: 100%;
            width: 100%;
            height: auto;
            padding: 0%;
            max-width: 100%;
            @include flex (flex, column, nowrap, center, center);
            margin-left: 0px;
            margin-right: 0;
            object-fit: scale-down;
        }
    }
}
  .sobrenosotros__p{
    font-family: sans-serif;
    margin-left: $pmargin;
    width: $pdefaultwidth;

  }  
  .dunderstaff{
    width: 90%;
    @include flex (flex, column, nowrap, center, center);
    margin: 5%;
    }

    .snmv__mision{
        width: $pdefaultwidth;
        margin-left: $pmargin;
        font-family: sans-serif;
    }
    .snmv__vision{
        width: $pdefaultwidth;
        margin-left: $pmargin;
        font-family: sans-serif;
    }

.bodyrs{
    overflow-x: hidden;
    box-sizing: content-box;
    @media (max-width: 993px) {
        overflow-x: hidden;
    }
    @media (max-width: 576px) {
        overflow-x: hidden;
    }
}

.precsoc {
    font-family: $primary-font;
    width: 85%;
    margin: 0 auto; 
    font-size: 1.3rem;
    line-height: 1.5;
}

.sectionsoc1 {
    display: flex;
    width: 100%;
    overflow-x: hidden;

    .rowrs{
        display: flex;
        flex-flow: row;
        width: 100%;
        .divercontainer{
            display: flex;
            width: 100%;
        }
        .divercontainer__diversidad{
            width: 50%;
            height: 28rem;
            padding: 0;
            margin: 1rem;
            justify-content: flex-start;
        }
        .divercontainer__headsup{
            width: 50%;
            height: 28rem;
            padding: 0;
            margin: 1rem;
            justify-content: flex-end;
        }
        @media (max-width: 1210px) {
            .rowrs {
                @include flex (flex, column, nowrap, center, center);
                width: 100%;
                margin: 0;
                padding: 0;
                overflow-x: hidden;
            }
        
            .divercontainer {
                display: flex;
                min-width: 100%;
                flex-direction: column;
            }
        
            .divercontainer__diversidad,
            .divercontainer__headsup {
                width: 100%;
                height: 24rem;
                padding: 0;
                margin: 0.5rem;
            }
        }
        
    }
    @media (max-width: 576px) {
        overflow-x: hidden;
    }
}
.dundies {
    position: static;

    .dundies__premiacion {
        width: $pdefaultwidth;
        font-family: $primary-font;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
}

.secdund {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;

    .dundiesbar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;

        .dundiesbar__foto {
            width: 32%;
            box-sizing: border-box;
            margin: 0.5%;
            padding: 0;
            height: 10rem;

            img {
                width: 100%;
                height: 10rem;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 1210px) { 
        .dundiesbar {
            justify-content: center;
            align-items: center;
        }

        .dund {
            width: 100%;
        }
    }
    @media (max-width: 576px) {
        overflow-x: hidden;
    }
}

.dundiespresentacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;

    .dundiespresentacion_anfitriones {
        @include flex (flex, column, nowrap, center, center);
        width: 98%;
        margin-right: 1%;
        max-width: 100%;
        height: 500px;
        @media (max-width: 1210px) {
            position: relative;
            bottom: auto;
            height: 400px;
        }
        @media (max-width: 400px) {
            position: relative;
            bottom: auto;
            height: 200px;
        }
    }
    .ganadores{
        margin-top: 2rem
    }
    .listaganadores {
        @include flex (flex, column, nowrap, flex-start, flex-start);
        width: 100%;
        padding: 0;
        font-size: 1.3rem;
        font-family: $primary-font;
        line-height: 2;

        @media (max-width: 1210px) { 
            margin-top: 20px;
        }
    }
    @media (max-width: 576px) {
        overflow-x: hidden;
    }
}

@media (max-width: 1210px) {
    .contdundies {
        flex-direction: column;
    }
}

.burga{
    color: #fff;
    width: 70px;
    height: 40px;
}
.footerlogo{
    background-image: url(../assets/img/Dunder-Mifflin-Symbol.png);
    position: absolute;
}
.productoult{
    margin-bottom: 4rem;
}
@media (max-width: 1210px) {
    .footerwidth {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
.mainproductos{
    margin: 0;
    padding: 0;
    object-fit: scale-down;
    overflow-x: hidden;
}
